In [93]:
import numpy as np
import pandas as pd

In [94]:
obj = pd.Series(['a','b','c','d'], index = [4,3,2,1])
obj

4    a
3    b
2    c
1    d
dtype: object

In [95]:
obj.sort_index()

1    d
2    c
3    b
4    a
dtype: object

In [96]:
dict_ = {1: 'a', 2: 'b', 3: 'c', 4: 'd'}
obj3 = pd.Series(dict_)
obj3

1    a
2    b
3    c
4    d
dtype: object

In [97]:
obj3.to_dict()

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [98]:
data = {'State': ['Ohio', 'Ohio','Ohio','Nevada','Nevada'],
       'year': [2000, 2001, 2002, 2001, 2002],
       'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
df = pd.DataFrame(data)
df

TypeError: 'dict' object is not callable

In [90]:
pd.DataFrame.from_dict(data)

AttributeError: 'dict' object has no attribute 'from_dict'

In [10]:
df.columns

Index(['State', 'pop', 'year'], dtype='object')

In [11]:
type(df['State'])

pandas.core.series.Series

In [12]:
type(df[['State']])

pandas.core.frame.DataFrame

In [13]:
df['State']

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
Name: State, dtype: object

In [14]:
df[['State']]

    State
0    Ohio
1    Ohio
2    Ohio
3  Nevada
4  Nevada

In [15]:
df.to_csv('Temp.csv',sep=',',index=False)

In [16]:
df2 = pd.read_csv("Temp.csv")
df2

    State  pop  year
0    Ohio  1.5  2000
1    Ohio  1.7  2001
2    Ohio  3.6  2002
3  Nevada  2.4  2001
4  Nevada  2.9  2002

In [17]:
s = pd.Series(['1.0', '2', -3])
pd.to_numeric(s)
s = pd.Series(['apple', '1.0', '2', -3])
pd.to_numeric(s, errors='ignore')

0    apple
1      1.0
2        2
3       -3
dtype: object

In [18]:
pd.to_numeric(s, errors='coerce')

0    NaN
1    1.0
2    2.0
3   -3.0
dtype: float64

In [30]:
df1 = pd.DataFrame(np.arange(0,9).reshape((3,3)),columns=['a','b','c'],index=['one','two','three'])
df1

       a  b  c
one    0  1  2
two    3  4  5
three  6  7  8

In [23]:
df2 = pd.DataFrame(np.arange(0,6).reshape((3,2)),columns=['d','e'],index=['one','two','three'])
df2

       d  e
one    0  1
two    2  3
three  4  5

In [32]:
pd.concat([df1,df2[['e']]], axis=1)

       a  b  c  e
one    0  1  2  1
two    3  4  5  3
three  6  7  8  5

In [37]:
help(pd.concat)

Help on function concat in module pandas.tools.merge:

concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, copy=True)
    Concatenate pandas objects along a particular axis with optional set logic
    along the other axes. Can also add a layer of hierarchical indexing on the
    concatenation axis, which may be useful if the labels are the same (or
    overlapping) on the passed axis number

    Parameters
    ----------
    objs : a sequence or mapping of Series, DataFrame, or Panel objects
        If a dict is passed, the sorted keys will be used as the `keys`
        argument, unless it is passed, in which case the values will be
        selected (see below). Any None objects will be dropped silently unless
        they are all None in which case a ValueError will be raised
    axis : {0, 1, ...}, default 0
        The axis to concatenate along
    join : {'inner', 'outer'}, default 'outer'
        How to handle indexes on other axis(es)
    join_axes : list of Index objects
        Specific indexes to use for the other n - 1 axes instead of performing
        inner/outer set logic
    verify_integrity : boolean, default False
        Check whether the new concatenated axis contains duplicates. This can
        be very expensive relative to the actual data concatenation
    keys : sequence, default None
        If multiple levels passed, should contain tuples. Construct
        hierarchical index using the passed keys as the outermost level
    levels : list of sequences, default None
        Specific levels (unique values) to use for constructing a
        MultiIndex. Otherwise they will be inferred from the keys
    names : list, default None
        Names for the levels in the resulting hierarchical index
    ignore_index : boolean, default False
        If True, do not use the index values along the concatenation axis. The
        resulting axis will be labeled 0, ..., n - 1. This is useful if you are
        concatenating objects where the concatenation axis does not have
        meaningful indexing information. Note the index values on the other
        axes are still respected in the join.
    copy : boolean, default True
        If False, do not copy data unnecessarily

    Notes
    -----
    The keys, levels, and names arguments are all optional

    Returns
    -------
    concatenated : type of objects

In [39]:
df3 = pd.DataFrame(np.array([0,0,0,2,2,2,8,8,8]).reshape((3,3)),columns=['a','b','c'],index = ['one','two','three'])
df3

       a  b  c
one    0  0  0
two    2  2  2
three  8  8  8

In [40]:
df4 = pd.DataFrame(np.arange(6).reshape((3,2)),columns=['b','d'],index = ['one','two','four'])
df4

      b  d
one   0  1
two   2  3
four  4  5

In [41]:
pd.merge(df3,df4,how='inner',on='b')

   a  b  c  d
0  0  0  0  1
1  2  2  2  3

In [42]:
help(pd.merge)

Help on function merge in module pandas.tools.merge:

merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False)
    Merge DataFrame objects by performing a database-style join operation by
    columns or indexes.

    If joining columns on columns, the DataFrame indexes *will be
    ignored*. Otherwise if joining indexes on indexes or indexes on a column or
    columns, the index will be passed on.

    Parameters
    ----------
    left : DataFrame
    right : DataFrame
    how : {'left', 'right', 'outer', 'inner'}, default 'inner'
        * left: use only keys from left frame (SQL: left outer join)
        * right: use only keys from right frame (SQL: right outer join)
        * outer: use union of keys from both frames (SQL: full outer join)
        * inner: use intersection of keys from both frames (SQL: inner join)
    on : label or list
        Field names to join on. Must be found in both DataFrames. If on is
        None and not merging on indexes, then it merges on the intersection of
        the columns by default.
    left_on : label or list, or array-like
        Field names to join on in left DataFrame. Can be a vector or list of
        vectors of the length of the DataFrame to use a particular vector as
        the join key instead of columns
    right_on : label or list, or array-like
        Field names to join on in right DataFrame or vector/list of vectors per
        left_on docs
    left_index : boolean, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels
    right_index : boolean, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index
    sort : boolean, default False
        Sort the join keys lexicographically in the result DataFrame
    suffixes : 2-length sequence (tuple, list, ...)
        Suffix to apply to overlapping column names in the left and right
        side, respectively
    copy : boolean, default True
        If False, do not copy data unnecessarily
    indicator : boolean or string, default False
        If True, adds a column to output DataFrame called "_merge" with
        information on the source of each row.
        If string, column with information on source of each row will be added to
        output DataFrame, and column will be named value of string.
        Information column is Categorical-type and takes on a value of "left_only"
        for observations whose merge key only appears in 'left' DataFrame,
        "right_only" for observations whose merge key only appears in 'right'
        DataFrame, and "both" if the observation's merge key is found in both.

        .. versionadded:: 0.17.0

    Examples
    --------

    >>> A              >>> B
        lkey value         rkey value
    0   foo  1         0   foo  5
    1   bar  2         1   bar  6
    2   baz  3         2   qux  7
    3   foo  4         3   bar  8

    >>> A.merge(B, left_on='lkey', right_on='rkey', how='outer')
       lkey  value_x  rkey  value_y
    0  foo   1        foo   5
    1  foo   4        foo   5
    2  bar   2        bar   6
    3  bar   2        bar   8
    4  baz   3        NaN   NaN
    5  NaN   NaN      qux   7

    Returns
    -------
    merged : DataFrame
        The output type will the be same as 'left', if it is a subclass
        of DataFrame.

In [46]:
df.set_index('State')

        pop  year
State
Ohio    1.5  2000
Ohio    1.7  2001
Ohio    3.6  2002
Nevada  2.4  2001
Nevada  2.9  2002

In [50]:
temp = df.set_index('State')
temp

        pop  year
State
Ohio    1.5  2000
Ohio    1.7  2001
Ohio    3.6  2002
Nevada  2.4  2001
Nevada  2.9  2002

In [51]:
temp.reset_index()

    State  pop  year
0    Ohio  1.5  2000
1    Ohio  1.7  2001
2    Ohio  3.6  2002
3  Nevada  2.4  2001
4  Nevada  2.9  2002

In [52]:
df5 = pd.DataFrame(np.arange(9).reshape((3,3)),columns=['a','b','c'],index = ['one','two','three'])
df5

       a  b  c
one    0  1  2
two    3  4  5
three  6  7  8

In [53]:
df6 = pd.DataFrame(np.arange(12).reshape((4,3)),columns=['b','c','d'],index = ['zero','one','two','three'])
df6

       b   c   d
zero   0   1   2
one    3   4   5
two    6   7   8
three  9  10  11

In [54]:
df5 + df6

        a     b     c   d
one   NaN   4.0   6.0 NaN
three NaN  16.0  18.0 NaN
two   NaN  10.0  12.0 NaN
zero  NaN   NaN   NaN NaN

In [60]:
df6.describe()

              b          c          d
count  4.000000   4.000000   4.000000
mean   4.500000   5.500000   6.500000
std    3.872983   3.872983   3.872983
min    0.000000   1.000000   2.000000
25%    2.250000   3.250000   4.250000
50%    4.500000   5.500000   6.500000
75%    6.750000   7.750000   8.750000
max    9.000000  10.000000  11.000000

In [57]:
df6.drop('d',axis=1)

       b   c
zero   0   1
one    3   4
two    6   7
three  9  10

In [58]:
df6.apply(lambda x :min(x), axis=0)
#for columns

b    0
c    1
d    2
dtype: int64

In [59]:
df6.apply(lambda x :min(x), axis=1)
#for rows

zero     0
one      3
two      6
three    9
dtype: int64

In [61]:
df6.loc['two']

b    6
c    7
d    8
Name: two, dtype: int64

In [62]:
df6.loc['two','b']

6

In [66]:
df6.loc[df6.b==0]

      b  c  d
zero  0  1  2

In [68]:
df6.loc[:,df6.loc['one']==0]

Empty DataFrame
Columns: []
Index: [zero, one, two, three]

In [109]:
data1 = {'Department': ['IT','IT','HR','HR','Trade','?','Trade','HR','IT'],
         'Education': ['Bachelor','Master','Master','Bachelor','PHD','PHD','Master','Master',''],
         'Sex': ['M','M','M','F','M','F','F','M','F'],
         'Title': ['analyst','analyst','analyst','analyst','associate','associate','associate','VP','VP'],
         'Year': [1.0,2.0,2.0,2.0,3.0,5.0,8.0,8.0,9.0],
         'Name': ['Bob','Jake','John','Judy','Sam','Amy','Jennifer','Peter','Mary'],
         'Salary': [90,90,90,90,120,120,120,250,250]}
import pandas
Employee = pandas.DataFrame(data1)
type(Employee)

TypeError: 'dict' object is not callable

In [102]:
help(pd.DataFrame)

Help on dict object:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if D has a key k, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Returns a new dict with keys from iterable and values equal to value.
 |
 |  get(...)
 |      D.get(k[,d]) -> D[k] if k in D, else d.  d defaults to None.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised
 |
 |  popitem(...)
 |      D.popitem() -> (k, v), remove and return some (key, value) pair as a
 |      2-tuple; but raise KeyError if D is empty.
 |
 |  setdefault(...)
 |      D.setdefault(k[,d]) -> D.get(k,d), also set D[k]=d if k not in D
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None